<!-- Footer-->
<footer class="container-fluid py-5 bg-dark">
	<div class="container">
		<p class="m-0 text-center text-white">Copyright &copy; M2I-SHOP</p>
    	<p class="mt-1 text-center text-white">Made with &hearts; by us</p>
	</div>
</footer>
